<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Investment transactions</h3>
                </div>

                <div class="card-body">
                    <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example1" class="table table-bordered table-striped dataTable dtr-inline"
                                    aria-describedby="example1_info">
                                    <thead>
                                        <tr>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                                colspan="1" aria-label="#: activate to sort column ascending">#</th>
                                            <th class="sorting sorting_asc" tabindex="0" aria-controls="example1"
                                                rowspan="1" colspan="1" aria-sort="ascending"
                                                aria-label="Name: activate to sort column descending">
                                                Name</th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                                colspan="1"
                                                aria-label="Amount Invested: activate to sort column ascending">
                                                Amount Invested</th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                                colspan="1"
                                                aria-label="Amount Withdraws: activate to sort column ascending">
                                                Amount Withdraws</th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                                colspan="1" aria-label="Date: activate to sort column ascending"
                                                style="">Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% data.forEach((item, i)=> { %>
                                            <tr class="odd">
                                                <td class="dtr-control sorting_1" tabindex="0">
                                                    <%= i + 1 %>
                                                </td>
                                                <td>
                                                    <%= item.name %>
                                                </td>
                                                <td>
                                                    $<%= new Intl.NumberFormat("en-us").format(item.investment + 25000)
                                                        %>
                                                </td>
                                                <td>
                                                    <% if (item.date=="-" ) { %>
                                                        <%= item.date %>
                                                            <% } else { %>
                                                                $<%= new
                                                                    Intl.NumberFormat("en-us").format(item.withdrawal +
                                                                    25000) %>
                                                                    <% } %>
                                                </td>
                                                <td style="">
                                                    <%= item.date %>
                                                </td>
                                            </tr>
                                            <% }) %>
                                                <!-- <tr class="even">
                                            <td class="dtr-control sorting_1" tabindex="0">Gecko</td>
                                            <td>Firefox 1.5</td>
                                            <td>Win 98+ / OSX.2+</td>
                                            <td>1.8</td>

                                            <td style="">A</td>
                                        </tr>
                                        <tr class="odd">
                                            <td class="dtr-control sorting_1" tabindex="0">Gecko</td>
                                            <td>Firefox 2.0</td>
                                            <td>Win 98+ / OSX.2+</td>
                                            <td>1.8</td>

                                            <td style="">A</td>
                                        </tr>
                                        <tr class="even">
                                            <td class="dtr-control sorting_1" tabindex="0">Gecko</td>
                                            <td>Firefox 3.0</td>
                                            <td>Win 2k+ / OSX.3+</td>
                                            <td>1.9</td>

                                            <td style="">A</td>
                                        </tr>
                                        <tr class="odd">
                                            <td class="sorting_1 dtr-control" tabindex="0">Gecko</td>
                                            <td>Camino 1.0</td>
                                            <td>OSX.2+</td>
                                            <td>1.8</td>

                                            <td style="">A</td>
                                        </tr>
                                        <tr class="even">
                                            <td class="sorting_1 dtr-control" tabindex="0">Gecko</td>
                                            <td>Camino 1.5</td>
                                            <td>OSX.3+</td>
                                            <td>1.8</td>

                                            <td style="">A</td>
                                        </tr>
                                        <tr class="odd">
                                            <td class="sorting_1 dtr-control" tabindex="0">Gecko</td>
                                            <td>Netscape 7.2</td>
                                            <td>Win 95+ / Mac OS 8.6-9.2</td>
                                            <td>1.7</td>

                                            <td style="">A</td>
                                        </tr>
                                        <tr class="even">
                                            <td class="sorting_1 dtr-control" tabindex="0">Gecko</td>
                                            <td>Netscape Browser 8</td>
                                            <td>Win 98SE+</td>
                                            <td>1.7</td>

                                            <td style="">A</td>
                                        </tr>
                                        <tr class="odd">
                                            <td class="sorting_1 dtr-control" tabindex="0">Gecko</td>
                                            <td>Netscape Navigator 9</td>
                                            <td>Win 98+ / OSX.2+</td>
                                            <td>1.8</td>

                                            <td style="">A</td>
                                        </tr>
                                        <tr class="even">
                                            <td class="sorting_1 dtr-control" tabindex="0">Gecko</td>
                                            <td>Mozilla 1.0</td>
                                            <td>Win 95+ / OSX.1+</td>
                                            <td>1</td>

                                            <td style="">A</td>
                                        </tr> -->
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th rowspan="1" colspan="1">#</th>
                                            <th rowspan="1" colspan="1">Name</th>
                                            <th rowspan="1" colspan="1">Amount Invested</th>
                                            <th rowspan="1" colspan="1">Amount Withdraws</th>
                                            <th rowspan="1" colspan="1" style="">Date</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>